<!--<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>-->

<!--<aside class="headerTitle">
	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		<a href="{{ link | prepend: site.baseurl }}">Daniel Geng</a>
			<div class="description">I'm not an expert, but..... just pretend I am for the time being</div>
	{% endif %}
</aside>-->

<aside class="TextSlide">
	{% if page.url contains '/index.html' or page.url == '/' %}
		<div class="blue-btn">
			{% assign link = '/about' %}
  			<a class="first-link" href="{{ link | prepend: site.baseurl }}" target="_self">Daniel Geng</a>
  			<a class="second-link"href="{{ link | prepend: site.baseurl }}" target="_self">About >></a>
		</div>
		<div class="description">I'm not an expert, but..... just pretend I am for the time being</div>
	{% endif %}
</aside>

<aside class="TextSlide">
	{% if page.url contains '/about'%}
		<div class="blue-btn">
  			<a class="first-link" href="{{site.baseurl}}/" target="_self">About</a>
  			<a class="second-link"href="{{site.baseurl}}/" target="_self"><< Back</a>
		</div>
	{% endif %}
</aside>

<aside class="TextSlide">
	{% if page.url contains '/notes'%}
		<div class="blue-btn">
  			<a class="first-link" href="{{site.baseurl}}" target="_self">{{ page.title }}</a>
  			<a class="second-link"href="{{site.baseurl}}/" target="_self"><< Back</a>
		</div>
		<div class="description"><time>{{ page.date | date: '%B %-d, %Y' }}</time></div>
	{% endif %}
</aside>